/*Navbar */

.home {
    display: flex;
    width: 100% !important;
    background-color: #F7A600;
    justify-content: space-between;
  

  }

  .menu-hamburguer{
    font-size: 30px;
    padding-left: 30px;
    cursor: pointer;
   
  }
  .menu-img{
    padding-right: 70px;
   
  }
  .img-logo{
    width: 60px;
    height: 60px;
  }


  /*Para menu desplegable*/


  .menu-desplegable {
    display: flex;
    flex-direction: column; 
    position: absolute;
    left: 0; 
    padding-left: 10px;
    background-color: #F7A600;
    z-index: 1; 
    opacity: 1; 
    width: 350px;
  }
  
  .menu-desplegable.hide {
    opacity: 0; 
  }
  

  .menu-container-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 20px;
    height: 633.33px;
    width: 320px;
  }


.menu-titulo{
  font-weight: 400;
  font-size: 39.06px;
  height: 46px;
  top: 108px;
  left: 20px;
}

.menu-subtitulo{
    width: 169px;
    height: 19px;
    top: 163px;
    left: 26px;
}

.menu-container{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    gap: 18px;

}




/*Para el cierre sesion y soporte */
.burgeroptions {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}

.burgeroption {
    padding-top: 5px;
    cursor: pointer;
    color:#000000;
  
}

.border-line {
  border-top: 1px solid #000000; 
  width: 270px;
}



.link-menu{
  color: black;
}
.titulo-link{
  display: flex;
  gap: 18px;
}

.texto-link{
  display: flex;
 
  text-align: left;
}

h4{
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
  gap: 5px;
  color: black;

}


@media (max-width: 768px) {

 .menu-desplegable{
  width: 200px;
 }
 .menu-container{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 8px;
  gap: 18px;
  width: 170px;

}
.border-line {
  border-top: 1px solid #000000; 
  width: 170px;
}
.burgeroptions{
  text-align: left;
}

}
