.p-menu-lc{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
     gap: 40px;
    padding-left: 120px;
    padding-top: 40px;

}

.pmenucontainer{
    width:100%;
  height: auto;
  margin-bottom: 30px;
}


  

  @media (max-width: 768px) {
    .p-menu-lc {
        display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }
  }