.p-menu-lc{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
     gap: 40px;
    padding-left: 120px;
    padding-top: 40px;

}

.pmenucontainer{
    width:100vw;
    min-height: 90vw;
}
