.p-menu-lc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: flex-start;
    align-items: center;
    padding: 20px;
    overflow: scroll;
}

.pmenucontainer{
    width:100vw;
    min-height: 90vw;
}

@media(min-width: 700px){
    .pmenucontainer{
        width:100vw;
        min-height: 90vw;
    }
}