.with-modal {
    background-color: white;
    overflow-y: auto;
    height: 120px;


    border-radius: 10px;


}

.with-modal table {
    width: 100%;
}

.with-modal table thead tr {

    color: black;
}

.with-modal table tbody tr {

    width: 100%;

    color: black;
}

.with-modal table tbody tr td {

    text-align: center;
}
.section-table {
    width: 90vw;
    overflow-y: auto;
    height: 160px;
    margin-bottom: 10px;
} 
.section-table::-webkit-scrollbar {
    width: 5px; 
}


.section-table::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}


.section-table::-webkit-scrollbar-thumb {
    background-color: #f3a406; 
    border-radius: 5px;
}

.section-table table {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(185, 182, 182);

    margin-top: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.section-table table {
    border-collapse: separate;
   
    border-spacing: 0 2px;
   
}

.section-table table thead tr{
    background-color: rgb(223, 222, 222);
}
.section-table table tbody tr:hover {
    background-color: rgb(223, 222, 222);
}

.section-table table tbody tr td {
    font-size: 18px;
    font-weight: 500;
}

.btn-delete {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0 0;
    font-size: 12px;
    font-weight: 900;
    font-family: inherit;

    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}