.header-segundo-produccion{
    display: flex;
    padding:40px;
    justify-content: space-between;
}

/*Linea horizontal*/


.linea-horizontal{

    width: 90%; 
    height: 4px; 
    background-color: rgb(208, 207, 207); 
    margin: 20px auto;
    border-radius: 2px;
}

/*Contenedor principal*/

.header-tercero-produccion{
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 190px;
    padding-bottom: 20px;

}

.titulo-produccion-adm{
    color: black;
}


.container-primero-produccion{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap:50px;
    padding-top: 100px;
 
   
}


.subtitulo-desechos-bajas{
    color: black;
    font-weight: 700;
    font-size: 19px; 
}

.boton-ver-detalle-produccion{
    background-color: #f8bd0e;
    border-radius: 20px;
    width: 200px; 
  height: 40px;
  padding: 5px 10px;
  font-size: 18px; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; 
}

.boton-ver-detalle-produccion:hover{
    background-color: #f4b700;
   
}

.contenedor-ver-detalle-produccion {
    padding-top: 80px;
    padding-left: 4px;
    display: flex;
    justify-content: center;
}

  .icon-production{
    color: #f3a406;
}


/*Table de ingreso y egreso*/


.subtitulo-tabla{
    font-size:20px;
    color: black;
    font-weight: 700;
}
