.header-menuResponsive{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-menuResponsive{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}
.navbar-menuResponsive{
    display: none;

}
p{
    font-weight: 600;
}



.menu-icon-menuResponsive{
    display: none;
    flex-direction: column;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
    position: absolute; 
    padding-top: 30px;
    padding-left: 190px;
        
}


.menu-icon-menuResponsive div{
    display: block;
    background: white;
    height: 3px;
    width: 25px;
    transition: 0.3s;
}



.contenedor-iconos-menuResponsive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  padding-top: 60px;
  row-gap: 20px;
  
}


.close-icon-menuResponsive{
    display: flex;
}


.link-menuResponsive{
    color: black;
}
.link-menuResponsive:hover{
    color: rgb(65, 62, 62);
}

@media(max-width:1060px){
    .nav-menuResponsive{
        padding: 14px 0;
    }
}

@media(max-width:770px){
    .menu-icon-menuResponsive{
        display: flex;
    }
    .navbar-menuResponsive{
        position: absolute;
        top:0%;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: white;
        display: flex;
        flex-direction: column;
        align-items:end;
        padding: 10px;
    }

    .navbar-menuResponsive.open-menu{
        right: 0;
        transition: 0.5s;
       }
       .navbar-menuResponsive p {
        padding-top: 10px;
       
    }
}

